VITE_DISCORD_AUTH=YOUR DISCORD AUTH URL (USED FOR USER LOGIN)
VITE_DISCORD_BOT_AUTH=YOUR DISCORD AUTH URL (USED FOR BOT LOGIN)
VITE_ORIGIN=http://localhost:3000
VITE_API_ADDRESS=http://localhost:3010
