.schedule {
    display: flex;
    flex-direction: column;
}

.schedule__header {
    display: flex;
    align-items: center;

    color: #ECEFF4;
    font-size: 20px;

    margin: 0px 16px;
}

.schedule__header h1 {
    flex-grow: 1;

    margin: 16px 16px;
}

.schedule__header button {
    background-color: #434C5E;
    color: #A3BE8C;

    border: none;
    padding: 6px 8px;

    border-radius: 8px;
}

.schedule__header button:hover {
    background-color: #4C566A;
}

.schedule__separator {
    margin: 0px 12px 16px;
    background-color: #D8DEE9;
    height: 2px;
    margin-bottom: 16px;
}

.form-schedule__container {
    padding: 0px 16px;
}

.list-schedule {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-schedule__item {
    display: flex;

    align-items: center;
}

.list-schedule__item__index {
    background-color: #4C566A;
    color: #E5E9F0;
    width: 60px;

    font-weight: bold;
    text-align: center;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.list-schedule__item__select {
    background-color: #434C5E;
    color: #E5E9F0;

    flex-grow: 1;

    font-size: 14px;
    font-weight: bold;

    padding: 16px 16px;
    margin: 8px 0px;

    border: none;

    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
