html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.title {
    padding-left: 16px;
    background-color: #3B4252;
    color: #D8DEE9;
}

.center {
    display: flex;
    flex-direction: row;

    flex-grow: 1;
    
    background-color: #2E3440;
    width: 100%;
}

.guilds {
    padding-top: 10px;
    width: 5rem;
    background-color: #3B4252;
}

.guilds-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.guilds-list__item {
    padding-bottom: 10px;
}

.guilds-list__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;

    border-radius: 50%;
}

.categories {
    width: 15rem;
    background-color: #434C5E;
}

.main {
    flex-grow: 1;
}