.header {
    color: #D8DEE9;

    margin: 8px 0px 0px 4px;
}

.top {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    margin-bottom: 24px;
}

.save_btn {
    width: 40px;
    height: 40px;

    padding: 0px;
    border-radius: 10%;
}

.item {
    display: flex;
    align-items: center;

    background-color: #2E3440;
    
    padding: 4px;
    margin-bottom: 8px;
    border-radius: 8px;
}

.item_p {
    color: #D8DEE9;
    font-weight: bold;
    min-width: 80px;

    text-align: center;
}

@media screen and (max-width: 450px) {
    .item {
        flex-direction: column;

        align-items: stretch !important;
    }
}