.container {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    padding: 0px 8px;
}

.save_btn {
    width: 40px;
    height: 40px;

    padding: 0px;
    border-radius: 10%;
}

.item {
    background-color: #2E3440;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
    
    display: flex;

    align-items: center;
}

.item p {
    color: #D8DEE9;
    font-weight: bold;
    min-width: 200px;
}

.item_dropdown {
    flex-grow: 1;
}