.dropdown {
    flex-grow: 1;

    display: inline-block;
    position: relative;

    background-color: #2E3440;
    color: #D8DEE9;

    font-weight: bold;

    border-radius: 8px;
    
    min-width: 200px;

    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.dropdown.disabled > .lock {
    opacity: 50%;
}

.dropdown_border {
    border: 1px solid #3B4252;
}

.border_top {
    border-radius: 8px 8px 0px 0px !important;
}

.border_bottom {
    border-radius: 0px 0px 8px 8px !important;
}

.dropdown:not(.disabled):hover, .dropdown_dropped {
    background-color: #434C5E;
    cursor: pointer;
}

.list {
    display: none;
    position: absolute;

    background-color: #3B4252;
    border-radius: 0px 0px 8px 8px;

    min-width: 200px;
    max-height: 200px;

    width: 100%;

    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
}

.list::-webkit-scrollbar {
    width: 8px;
}

.list::-webkit-scrollbar-thumb {
    background-color: #4C566A;
    border-radius: 6px;
    cursor: grab;
}

.going_up {
    bottom: 100%;
    border-radius: 8px 8px 0px 0px !important;
}

.item, .item_selected {
    display: flex;
    flex-direction: row;

    align-items: center;

    padding: 8px;
    min-height: 26px;

    column-gap: 4px;
}

.item:hover {
    background-color: #5E81AC;
}

.icon {
    background-color: #3B4252;

    width: 48px;
    height: 48px;

    border-radius: 50%;
}

.content {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 8px;
}

.selected {
    display: none;
}

.show {
    display: block;
}

.filler {
    background-color: #3B4252;

    flex-grow: 1;
    height: 6px;

    border-radius: 8px;

    margin-left: 16px;
    margin-right: 16px;
}

.remove {
    color: #BF616A;

    position: absolute;

    top: 50%;
    right: 16px;

    transform: translateY(-50%);
}

.lock {
    background-color: #2E3440;

    position: absolute;
    content: "";

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    opacity: 0;

    border-radius: 8px;
}