.dropdown {
    flex-grow: 1;

    display: inline-block;
    position: relative;

    background-color: #2E3440;
    color: #ECEFF4;

    font-weight: bold;

    border-radius: 0px;

    min-width: 200px;

    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.dropdown:hover {
    cursor: pointer;
}

.list {
    display: none;
    position: absolute;

    background-color: #2E3440;
    border-radius: 0px;

    min-width: 200px;
    max-height: 200px;

    width: 100%;

    overflow-y: auto;
    z-index: 1;
}

.going_up {
    bottom: 66px;
}

.item, .item_selected {
    display: flex;
    flex-direction: row;

    padding: 8px;
    border-radius: 0px;
}

.item_selected:hover {
    background-color: #434C5E;
}

.item:hover {
    background-color: #5E81AC;
}

.icon, .img_temp {
    background-color: #3B4252;
    width: 48px;
    height: 48px;

    border-radius: 50%;
}

.content {
    margin-left: 8px;
}

.selected {
    display: none;
}

.show {
    display: block;
}