html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding-left: 16px;
    background-color: #2E3440;
    color: #D8DEE9;
}

.title img {
    width: 35px;
    height: 35px;
    margin-right: 8px;
}

.title h2 {
    margin: 16px 0px;
}

.root {
    display: flex;
    flex-direction: row;

    flex-grow: 1;
    
    background-color: #3B4252;
    width: 100%;
}

.sidebar {
    display: flex;
}

.guilds {
    padding-top: 10px;
    width: 90px;
    background-color: #2E3440;
}

.guilds-list-temp {
    display: flex;
    flex-direction: column;
}

.guilds-list-temp__item {
    background-color: #434C5E;
    border-radius: 50%;
    margin: 0px auto 10px auto;

    width: 64px;
    height: 64px;
}

.guilds-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.guilds-list__item {
    padding-bottom: 10px;
}

.guilds-list__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;

    border-radius: 50%;
}

.guilds-list__icon.selected {
    border-radius: 20%;
}

.categories {
    width: 15rem;
    background-color: #434C5E;

    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.categories__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.categories__icon {
    display: block;

    margin: 16px auto 0px auto;
    width: 80px;
    height: 80px;

    border-radius: 50%;
}

.categories__name {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #D8DEE9;
}

.categories__list__item {
    display: block;
    margin: 0px auto 0px auto;
    width: 80%;
}

.container {
    flex-grow: 1;
}