@import "tailwindcss";

html, body {
    margin: 0;
    height: 100%;
}

#root {
    background-color: #3B4252;
    height: 100%;

    display: flex;
    flex-direction: column;

    font-family: 'Inter', sans-serif;
}

.material-icons.md-bold { font-weight: bold; }

.title {
    position: relative;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    background-color: #2E3440;
    color: #D8DEE9;
}

.title img {
    width: 35px;
    height: 35px;
    margin-right: 8px;
}

.title h2 {
    margin: 16px 0px;
}

.top {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    margin-top: 8px;
    margin-bottom: 24px;
}

.top > h1 {
    color: #D8DEE9;

    margin: 0px 4px;
}